/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/04/2016, 12:58:12 PM
    Author     : mcamberos
*/

/* --------------------
   -------------------- Reset -------------------- */
* { margin: 0; outline: none; }
header, nav, section, article, aside, footer { display: block; }
body, p, ul, li, ol, pre, caption, h1, h2, h3, h4, h5, h6, form, div, fieldset, legend { padding: 0; }

html { width: 100%; height: 100%; }
body { position: relative; min-height: 100%; height: 100%; width: 100%; max-width: 100%; overflow-x: hidden; font: 400 14px sans-serif; color: #202020; background: #fff; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -ms-overflow-style: scrollbar; }
img, fieldset { border: 0; }

input, textarea { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius:0;  border-radius:0; -webkit-appearance: none;}
input::-moz-focus-inner, textarea::-moz-focus-inner, select::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }
input[type="text"], input[type="password"], button, textarea { -webkit-appearance: none; }

a{ color: inherit; text-decoration: none !important; }
a, button, input[type="submit"] { text-decoration: none  !important; -webkit-transition: color 400ms, background 400ms, border 400ms, opacity 400ms; -moz-transition: color 400ms, background 400ms, border 400ms, opacity 400ms; transition: color 400ms, background 400ms, border 400ms, opacity 400ms; }
a:hover{text-decoration: none;}
ul{list-style:none; margin:auto;}
a:focus{outline:none;}